nav{
    background-color: rgb(204, 69, 69);
    box-shadow: brown 3px 3px 5px;
}
a{
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding: 15px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
nav li:first-child{
    margin-right: auto;
}
@media (max-width:700px){
    .hideOnMobile{
        display: none;
    }
}
@media (min-width:700px){
    #hide{
        display: none;
    }
}
.sidebar{
    position: absolute;
    flex-direction: column;
    right: 0px;
    width: 150px;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(209, 78, 78, 0.87);
    backdrop-filter: blur;
    display: none;
}
    
.sidebar li{
    padding: 15px;
}
.box{
    width: 240px;
    height: 190px;
    background-image: linear-gradient(brown wheat grey);
    display: block;
    cursor: pointer;
    border-radius: 14px;
    border-color: white;
    box-shadow: brown 3px 3px 5px ;
}
.container2{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
   justify-content: center;   
}
#work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}
img{
    padding: 1px;
}
#box1{ background-image: linear-gradient(brown, wheat, burlywood)}
#box2{ background-image: linear-gradient(brown, wheat, burlywood)}
#box3{ background-image: linear-gradient(brown, wheat, burlywood)}
#box4{ background-image: linear-gradient(brown, wheat, burlywood)}
#box5{ background-image: linear-gradient(brown, wheat, burlywood)}
#box6{ background-image: linear-gradient(brown, wheat, burlywood)}
#box7{ background-image: linear-gradient(brown, wheat, burlywood)}
#box8{ background-image: linear-gradient(brown, wheat, burlywood)}
#fixed{
    width: 100%;
    height: 200px;
}
#pro{
    text-align: center;
    text-decoration: underline;
    color: brown;
}
h3{
    text-align: center;
    font-weight: 100px;
}
.box:hover{
    text-shadow:brown 3px 3px 5px;
    font-style: italic;
    width: 245px;
}
.colour{
    color: rgb(231, 171, 92);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#under{
    text-align: center;
    color: brown;
    font-style: italic;
}
#location{
    background-color: lightgoldenrodyellow;
}

html{
    background-color:lightgoldenrodyellow;
}
.curve{
    border-radius: 15px;
    width: 300px;
    height: 30px;
}
#location{
    text-align: center;
    background-color: beige;
}
#contact{
    text-align: center;
    height: 80px;
}
#size{
    height: 70px;
    width: 300px;
}
#sum{
    width: 100px;
    background-color: burlywood;
}
form{
    background-color: lightgoldenrodyellow;
}
footer{
background-color:lightyellow;
display: flex;
flex-wrap: wrap;
}
#pics{
    animation: 2s profile linear infinite;
    
}
@keyframes profile {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(opx);
    }
}
#hide{
    cursor: pointer;
}