nav{background-color: rgba(146, 211, 252, 0.534);
    box-shadow: 3px 3px 5px  black;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    
}
nav li:first-child{
    margin-right: auto;
}
@media (max-width:750px){
    .hideOnMobile{
        display: none;
    }
}
.sidebar li{
    padding: 15px;
}
.sidebar{
    position: absolute;
    flex-direction: column;
    right: 0px;
    width: 150px;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(219, 255, 219, 0.479);
    backdrop-filter: blur;
    display: none;
}
.box{
    width:150px;  
    height:150px;
    padding: 15px;
}
#box1{
    background-color: brown;
}

    

