.box{
    width: 240px;
    height: 150px;
   justify-content: center;
   display: block;

}
.container{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
   justify-content: center;
   align-items: center;
}
#box1{ background-image: linear-gradient(red,orange,yellow);}
#box2{ background-image: linear-gradient(red,orange,yellow);}
#box3{ background-image: linear-gradient(red,orange,yellow);}
#box4{ background-image: linear-gradient(red,orange,yellow);}
#box5{ background-image: linear-gradient(red,orange,yellow);}
#box6{ background-image: linear-gradient(red,orange,yellow);}
#box7{ background-image: linear-gradient(red,orange,yellow);}
